/*心情详细整体*/
.mood-detail{
  height: 700px;
  width: 650px;
  overflow-y: auto;
}

/*心情的标题：头像等*/
.mood-title{
  height: 35px;
  padding: 15px;
  line-height: 20px;

}
/*关注按钮*/
.attent-btn{
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}
/*包裹头像的div*/
.mood-profile-wrapper{
  float: left;
  margin-right: 10px;
  display: inline-block;
  position: relative;

}
.business-card-wrapper{
  top: -205px;
  left: -25px;
  height: 200px;
  width: 330px;
  position:absolute;
  box-shadow: 0 5px 5px rgb(200,200,200);
  z-index: 10;
}
/*头像*/
.mood-profile{
  width: 50px;
  height: 50px;
  border-radius: 25px;

}
/*昵称*/
.mood-nickname{
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}
/*多久之前发送的*/
.mood-howlong{
  font-size: 12px;
  color: gray;
  margin-top: 3px;
}
/*简短时间*/
.mood-short-date{
  margin-right: 10px;
}

/*心情操作*/
.mood-operation{
  float: right;

}
.mood-operation i{
  color: rgb(150,150,150);
}
.mood-operation .mat-menu-item i{
  vertical-align: middle;
}

/*心情内容*/
.mood-content{
  padding-left: 70px;
  margin-right: 20px;
  padding-bottom: 10px;
  cursor: pointer;
}
.mood-text-content{
  padding-bottom: 5px;
  color: rgba(90, 90, 90, 1);
  font-size: 13px;
}
/*心情的图片内容*/
.mood-img-content{
  margin-top: 10px;

}
/*心情小图内容*/
.mood-img-detail-content{
  padding: 10px;
  background: rgb(242,242,245);
  overflow: hidden;
}
.small-detail-img-wrapper{
  display: block;
}
/*心情详细小图*/
.small-detail-img{
  opacity: 0.5;
  margin-left: 5px;
  border: solid 1px rgba(0,0,0,0);
  cursor: pointer;
}
.mood-img-detail-content .small-detail-img:hover{
  border: solid 1px rgb(255,129,64);
  opacity: 1;
}

.small-detail-img-active{
  border: solid 1px rgb(255,129,64);
  opacity: 1;
  position: relative;
  top: -5px;
}
/*详细图片的大图*/
.detail-img{
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.prevCursor{
  cursor: url('../../../assets/img/pic_prev.cur'),auto;
}
.nextCursor{
  cursor: url('../../../assets/img/pic_next.cur'),auto;
}
.zoomOutCursor{
  cursor: zoom-out;
}
/*心情小图内容*/
.mood-small-img-content{

}
/*心情小图*/
.small-img{
  margin-left: 5px;
  cursor: zoom-in;
}

.hr{
  width: 90%;
  height: 1px;
  border-top: solid 1px rgb(233,233,233);
  margin: auto;
  margin-top: 10px;
}



/*包裹评论的 div*/
.discussion-wrapper{
  padding: 20px 30px 20px 30px;
}
