*{
  margin: 0;
  padding: 0;
}

.app-box-title{
  padding: 10px 10px 5px;
  font-size: 14px;
  color: rgba(110, 115, 124, 1);
  border-bottom: solid 1px #F0F0F0;

}

.app-dialog-content{
  padding: 20px;
}
/*隐藏*/
.app-hidden{
  display: none!important;
}
/*dialog底部*/
.app-dialog-bottom{
  text-align: right;
  border-top: 1px solid rgb(242,242,242);
  padding: 10px;
}
/**
div阴影
 */
.app-box{
  box-shadow: 0 0 2px rgb(204,204,204);
  background: white ;
  border-radius: 2px ;
}

/*宽度100%*/
.app-full{
  width: 100%;
}

/*按钮*/
.app-btn-color{
  background: rgba(23, 152, 192, 1) !important;
}

.app-radius{
  border-radius: 50px  !important;
}
/*错误*/
.app-error{
  color: red !important;
}
/*成功*/
.app-success{
  color: green !important;
}


/*滚动条样式*/
::-webkit-scrollbar {
  width: 8px;
  height: 4px;
  background-color: #F5F5F5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background: #fff ;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color:rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);

  background-color:rgba(0, 0, 0, 0.5);
}
.toasts-message{
  font-size: 13px;
}
/*上三角形边框*/
.top-border-triangle:before{
  box-sizing: content-box;
  width: 0;
  height: 0;
  position: absolute;
  top: -16px;;
  left: 5px;
  padding:0;
  border-bottom:8px solid #FFFFFF;
  border-top:8px solid transparent;
  border-left:8px solid transparent;
  border-right:8px solid transparent;
  display: block;
  content:'';
  z-index: 12;
}
.top-border-triangle:after{
  box-sizing: content-box;
  width: 0;
  height: 0;
  position: absolute;
  top: -18px;;
  left: 4px;
  padding:0;
  border-bottom:9px solid #cccccc;
  border-top:9px solid transparent;
  border-left:9px solid transparent;
  border-right:9px solid transparent;
  display: block;
  content:'';
  z-index:10;
}
