<div class="moods">

  <!--心情-->
  <div class="all-mood">
    <div class="mood-editor-wrapper">
      <app-mood-editor></app-mood-editor>
    </div>
    <div class="mood-wrapper" *ngFor="let mood of moods">
      <app-sigle-mood [mood]="mood"></app-sigle-mood>
    </div>

  </div>

  <!--微信文章-->
  <div class="we-chats app-box">
    <p class="app-box-title"><i class="material-icons">insert_drive_file</i>文章精选</p>
    <div *ngFor=" let article of articles">
      <app-article [article]="article"></app-article>
    </div>
  </div>

</div>

