<div class="login-body">
  <div id="center">
    <div class="login-bgs">
      <img class="login-bg-img" src="../../../../assets/img/login-bg.png">
      <img class="login-bg-centre" src="../../../../assets/img/login-bg-centre.png"/>
    </div>

    <div class="login-card app-box">
      <span class="login-title-line"></span>
      <p class="login-title">会员登录</p>
      <img class="profile" src="../../../../assets/img/profile.png"/>
      <p class="nickname">刘宇成</p>
      <div class="login-info">
        <form >
          <mat-form-field>
            <input matInput >
          </mat-form-field>
          <mat-form-field>
            <input matInput>
          </mat-form-field>
          <mat-checkbox>记住账号密码</mat-checkbox>
          <a class="lost-password">忘记密码？</a>
          <button type="submit" class="login-btn" color="accent"  mat-raised-button>登录</button>
        </form>
      </div>
    </div>
    <a routerLink="../register"><img class="just-register-img" src="../../../../assets/img/just-register.png"/></a>
  </div>
</div>
