<div class="center">
  <div class="banner-wrapper app-box">
    <div class="banner-body">
      <img class="banner" src="../../../../assets/img/banner.png"/>
    </div>

    <div class="nav-wrapper">
      <span>
        我的动态
      </span>
        <span routerLinkActive="nav-activated" routerLink="info">
        个人资料
      </span>
        <span>
        纪念日
      </span>
        <span>
        心情
      </span>
        <span>
        相册
      </span>
        <span>
        留言板
      </span>
        <span>
        我的关注
      </span>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
