<div class="center">
  <div class="banner-wrapper app-box">

    <!--墙纸-->
    <div class="banner-body">
      <img class="banner" [src]="centerInfo?.banner|imgPath"/>
    </div>

    <!--操作-->
    <div class="operation-wrapper">
      <div class="item-operation" *ngIf="!centerInfo.mine"><i class="material-icons">menu</i>更多</div>
      <div class="item-operation" *ngIf="centerInfo.mine" (click)="openUploadProfileDialog('banner')">编辑封面</div>
      <div class="item-operation"><i class="material-icons">thumb_up</i>赞</div>
    </div>

    <!--个人信息-->
    <div class="info-wrapper">

      <div class="all-profile-wrapper my-profile">
        <div class="profile-wrapper app-box" (mouseenter)="toggleMyProfileOperation()" (mouseleave)="toggleMyProfileOperation()">
          <img [src]="centerService.centerInfo?.profile|imgPath" class="profile"/>
          <div class="profile-operation-wrapper" (click)="openUploadProfileDialog('profile')" *ngIf="showMyProfileOperation&&centerService.centerInfo?.mine">
            <i class="material-icons">edit</i>编辑头像
          </div>
        </div>
        <span class="nickname">{{centerService.centerInfo?.nickname}}</span>
      </div>
      <div class="all-profile-wrapper  half-profile">
        <div class="profile-wrapper app-box">
          <img src="../../../../assets/img/profile-female.jpeg" class="profile"/>
        </div>
        <span class="nickname">刘宇成</span>
      </div>
      <div class="love-text">
        我们已经在一起 <span>666</span>天了
      </div>
      <!--黑色背景-->
      <div class="info-black"></div>
    </div>

    <!--导航-->
    <div class="nav-wrapper">
      <span>
        我的动态
      </span>
        <span routerLinkActive="nav-activated" routerLink="info">
        个人资料
      </span>
        <span>
        纪念日
      </span>
        <span>
        心情
      </span>
        <span>
        相册
      </span>
        <span>
        留言板
      </span>
        <span>
        我的关注
      </span>
    </div>

  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
