<!--动态操作开始-->
<div class="all-operation">
  <div class="operation">
    <i class="material-icons">share</i>
    <span class="count">分享</span>
  </div>
  <div class="operation" matTooltip="快收藏我">
    <i class="material-icons">bookmark_border</i>
    <span class="count">收藏</span>
  </div>
  <div class="operation">
    <i class="material-icons" >sms</i>
    <span class="count">评论 {{trendArgs.discussionCount>0?trendArgs.discussionCount:''}}</span>
  </div>
  <div class="operation" (click)="thumb()" [ngClass]="{'thumbsUpDisable':!trendArgs.thumbsUpAble}">
    <i class="material-icons">thumb_up</i>
    <span class="count">
      {{trendArgs.thumbsUpCount>0?trendArgs.thumbsUpCount:'赞'}}
    </span>
  </div>
</div>
<!--动态操作结束-->
