<div class="footer">
    <span class="footer-label">联系客服</span>
    <span class="footer-label">关于我们</span>
    <span class="footer-label">联系我们</span>
    <span class="footer-label">无线业务</span>
    <span class="footer-label">注册条款</span>
    <span class="footer-label">友情链接</span>
    <span class="footer-label">招聘信息</span>
    <span class="footer-label">交友信息</span>
    <span class="footer-label">隐私保护</span>
    <span class="footer-label">帮助中心</span>
    <span class="footer-label">安全中心</span><br>
    <p style="margin-top: 10px">
      <span style="margin-left: 0" class="footer-label">中文实名:红围巾</span>
      <span class="footer-label">联系客服</span>
      <span class="footer-label">关于我们</span>
      <span class="footer-label">2017-2018 taomei1314版权所有</span>
      <a class="footer-label" target="_blank" href="http://www.miitbeian.gov.cn/">渝ICP备17010971号</a>
      <span class="footer-label">注册条款</span>
      <span class="footer-label">友情链接</span>
      <span class="footer-label">招聘信息</span>
    </p>
</div>

