<!--评论编辑器-->
<div class="discussion-editor-wrapper">
  <!--添加表情-->
  <div class="append-face-wrapper">
    <button mat-icon-button (click)="toggleFace()">
      <i class="material-icons operation-face-ico" >sentiment_very_satisfied</i>
    </button>
    <div class="face-wrapper" *ngIf="faceOpened">
      <app-face  (faceOpened)="toggleFace()" (faceSelected)="appendFace($event)"></app-face>
    </div>
  </div>

  <div [froalaEditor]="rfOption" [(froalaModel)]="parentDiscussion.parentDiscussion.content"
       class="small-padding no-toolbar no-editor-shadow app-box discussion-editor">
  </div>
  <button (click)="sendDiscussion()" class="send-discussion-btn app-sm-btn" mat-raised-button>发表</button>
</div>
<div class="show-discussion-by">
  <span (click)="sortDiscussionBy('subDiscussionsLength')" [ngClass]="{'active-discussion-by':pageComm.condition.sortBy=='subDiscussionsLength'}">按热度</span>
  <hr class="sortByHr">
  <span (click)="sortDiscussionBy('date')" [ngClass]="{'active-discussion-by':pageComm.condition.sortBy=='date'}" >按时间</span>
</div>
<div class="discussion-wrapper" *ngFor="let parentDiscussion of parentDiscussions">
  <app-trend-discussion [trendArgs]="trendArgs" [parentDiscussion]="parentDiscussion"></app-trend-discussion>
</div>


