/*头部开始*/
.header{
  border-bottom: solid rgb(222,222,222) 1px;
  box-shadow: 0 0 3px rgb(223,223,233);
  height: 65px;
}
.header-centre{
  padding-top:8px;
  width: 1000px;
  margin: auto;
  line-height: 65px;
  height: 65px;

}
.logo{
  float: left;
  width: 103px;
  height: 43px;
}
.welcome{
  float: left;
  display: inline-block;
  border-left:solid 1px rgb(213,213,213);
  text-align: center;
  margin-top: 5px;
  margin-left: 15px;
  padding-left: 15px;
  line-height: 40px;
  color: rgba(153, 153, 153, 1);
  font-size: 18px;
}
.callMe{
  float: right;
  color: gray;
  font-size: 12px;
  margin-top: 10px;
  margin-right: 10px;
}
.callMe img{
  vertical-align: center;
  margin-right: 5px;
}

/*头部结束*/
